.text {
  font-size: 24px;
  letter-spacing: .05em;
  font-family: $font-main;
  line-height: 27px;
  color: $color-text;
  &--bold {
    font-weight: bold;
  }
  &--black {
    color: $color-text--black;
  }
  &--important {
    color: $color-important;
  }
}

