// create class for padding and margin
$gaps: (
  pt: padding-top,
  pb: padding-bottom,
  pl: padding-left,
  pr: padding-right,
  mt: margin-top,
  mb: margin-bottom,
  mr: margin-right,
  ml: margin-left,
  m: margin,
  p: padding
);
$gaps-vertical: (
  pv: padding,
  mv: margin,
);
$gaps-horizontal: (
  ph: padding,
  mh: margin
);
@each $key, $value in $gaps {
  @for $i from 1 through 4 {
    .#{$key}-#{$i} {
      #{$value}: $i * 5px;
    }
  }
}
@each $key, $value in $gaps {
  @for $i from 1 through 4 {
    .#{$key}-#{$i} {
      #{$value}: $i * 5px;
    }
  }
}


@each $key, $value in $gaps-horizontal {
  @for $i from 1 through 4 {
    .#{$key}-#{$i} {
      #{$value}-left: $i * 5px;
      #{$value}-right: $i * 5px;
    }
  }
}
@each $key, $value in $gaps-vertical {
  @for $i from 1 through 4 {
    .#{$key}-#{$i} {
      #{$value}-top: $i * 5px;
      #{$value}-bottom: $i * 5px;
    }
  }
}

@each $key, $value in $gaps {
  @for $i from 1 through 4 {
    .#{$key}-auto {
      #{$value}: auto;
    }
  }
}

// flex gap
  @for $i from 1 through 4 {
    .gap-#{$i} {
      gap: $i * 5px;
    }
  }

.text {
  font-size: 24px;
  letter-spacing: 0.05em;
  font-family: $font-main;
  line-height: 27px;
  color: $color-text;
  .icon {
    @include icon-font-size(24px);
  }
  &--bold {
    font-weight: bold;
  }

  &--black {
    color: $color-text--black;
  }

  &--important {
    color: $color-important;
  }

  &--small {
    font-size: 18px;
  }
}
.icon {
  width: 50px;
  font-size: 50px;
  color: $color-text--black;
}
.icon-user-logo {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 100%;

  &--small {
    width: 50px;
    height: 50px;
  }
}

.--wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.border-bottom {
  border-bottom: 1px solid $color-border;
}

.border-top {
  border-top: 1px solid $color-border;
}

.d-flex {
  display: flex;
}
.flex-basis-100 {
  flex-basis: 100%;
}
.align {
  &-center {
    align-items: center;
  }
}