@mixin icon-font-size($size) {
  width: $size;
  font-size: $size;
}
@mixin absolute-center-vertical() {
  position: absolute;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}
@mixin absolute-center-horizontal() {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
@mixin set-scrollbar($width: 3px, $color: $color-text) {
  &::-webkit-scrollbar {
    width: $width;               /* ширина scrollbar */
  }
  &::-webkit-scrollbar-track {
    background: transparent;        /* цвет дорожки */
  }
  &::-webkit-scrollbar-thumb {
    background-color: $color;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 1px solid rgba(0, 0,0,0);  /* padding вокруг плашки */
  }
}
@mixin text($size, $weight: normal) {
  font-family: $font-main;
  font-weight: $weight;
  font-size: $size;
}