$color-text: #7A7A7A;
$color-text--black: #383435;
$color-important: #FF959C;
$color-background: #FFFFFF;
$color-background-aside: #ECECEB;
$color-background-header: #7A7A7A;
$color-border: #ECECEB;
$color-toggle: #383435;
$font-main: Comfortaa, sans-serif;